body{
    margin: 0;
}
header{
    background: url("../img/biblio.jpg");
    margin: 0 auto;
    background-size: cover;
}
h1{
    text-align: center;
    margin: 0;
    font-size: 45px;
    padding: 2em;
}
main{
    width: 75%;
    margin: 0 auto;
}
#retour{
    margin-top: 75px;
}
#retour + p{
    text-align: center;
}
.ch3{
    background-color: #FFA500;
}
h2{
    text-align: center;
    font-weight: bold;
}