body{
    margin: 0;
}
header{
    background: url("../img/biblio.jpg");
    margin: 0 auto;
    background-size: cover;
}
h1{
    text-align: center;
    margin: 0;
    font-size: 45px;
    padding: 2em;
}
main{
    display: flex;
    justify-content: flex-start;
    width: 75%;
    margin: 0 auto;
}
main img{
    width: 75%;
}
main p{
    text-align: center;
    font-weight: bold;
    width: 75%;
}
main div:not(div:first-of-type){
    margin-top: 100px;
}