.flex-container{
    display: flex;
    justify-content: center;
    background-color: #83003ee6;
}
.flex-item1, .flex-item4{
    background-color: #fed4b9;
    width: 200px;
    margin: .5%;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}
.flex-item4{
    order: -1;
}